@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    @apply text-black;
  }

  a {
    @apply text-blue;
    transition: all 0.2 ease;
  }

  a:hover {
    @apply text-blue-dark underline;
  }

  .curved_underline {
    position: relative;
    font-weight: bold;
  }

  .curved_underline:after {
    content: ' ';
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 22px;
    width: 100%;
    border: solid 3px #28a9e0;
    border-color: #28a9e0 transparent transparent transparent;
    border-radius: 50%;
  }
}
